<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module">
        //import Vue from 'vue';
        //import axios from 'axios';
        new Vue({
            el: '#app',
            template: `#c1`,
            data() {
                return {
                    items: [
                        {id: 1, name: 'Item 1'},
                        {id: 2, name: 'Item 2'},
                        {id: 3, name: 'Item 3'}
                    ]
                };
            },
            created(){
                this.fetchData();
            },

            methods: {
                async fetchData() {
                    //window.alert("xx");
                    try{
                        const response = await axios.get('http://localhost:8000/getall');
                        this.items = response.data;
                    } catch (error) {
                        console.error(error);
                    }
                }
            }
        })


    </script>
</head>
<body>
<h1>Hello2</h1>
<div id="app">
<template id="c1">
    <div>
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th>ID</th>
                <th>名字</th>
                <th>年龄</th>
            </tr>
            <tr v-for="item in items">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
        </tr></table>
        <!--<ul>
            <li v-for="item in items" :key="item.id"> {{ item.name }}</li>
        </ul>
        -->
    </div>
</template>
</div>
</body>
</html>